/* ------------------------------
Navbar Section
--------------------------------*/


  /* Nav Bar */
  
  .navbar {
    color: white;
  }
  
  .navbar h1 {
    padding-left: 10px;
    margin-left: 10px;
    float: left;
  }
  
  .navbar .logo {
    float: left;
    margin: 5px 10px 5px 25px;
    height: 80px;
    width: 60px;
  }