/* EFA Color pallete */
$red: #D9514E;
$orange: #f79569;
$yellow: #F6D57A;
$green: #8acfba;
$blue: #86bad3;
$blue-green: #9AD0D5;
$purple: #A992BC;
$brown: #725b4d;
$gray: #53565A;
$black: #000 !default;
