//TODO: Install SCSS 
//http://www.metropoliscreative.com/web-developmenthow-to-install-sass-an-easy-guide-for-developers/
// $colour-accent: #61dafb;
// $colour-background: #222;
// $colour-background-shade-2: #2d2d2d;

p {
  margin-top: 20px;
  line-height: 1.6;
}

a {
  color: $colour-accent;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

code {
  background-color: $colour-background;
  font-family: Monaco, monospace;
  font-size: 0.9em;
  padding: 5px;
}

.logo {
  display: block;
  margin: 30px auto 0 auto;
  width: 100px;
  height: 100px;
}

.heading {
  margin-bottom: 0.5em;
}

.heading--2 {
  font-size: 30px;
}

.lanes {
  display: inline-block;
}

.lane {
  padding: 50px 0;
  text-align: left;
}

.lane + .lane {
  border-top: 1px solid white;
}

.lane__title {
  display: inline-block;
  color: white;
  margin-right: 10px;
  font-size: 12px;
  width: 80px;
  text-align: right;
}

.lane__item {
  display: inline-block;
  margin-right: -4px;
  
  & + & {
    &:before {
      content: '➞';
      color: white;
      font-size: 1em;
      vertical-align: middle;
      margin: 0 0.5em;
    }
  }
}

.step {
  display: inline-block;
  color: $colour-accent;
  text-decoration: none;
  font-size: 15px;
  border: 3px solid $colour-accent;
  border-radius: 10px;
  padding: 15px;
  transition: all 0.1s ease-out;
  
  &:hover {
    background-color: $colour-accent;
    color: black;
    text-decoration: none;
  }
}

.descriptions {
  position: relative;
  background-color: $colour-background-shade-2;
  color: white;
  padding: 20px;
  border-radius: 10px;
  min-height: 100px;
  max-width: 730px;
  margin: 40px auto;
}

.description {
  display: none;
  
  &:target,
  &--placeholder {
    display: block;
  }
  
  &:target ~ &--placeholder {
    display: none;
  }
  
  &:target ~ &__close {
    display: block;
  }
  
  &:not(.description--placeholder) {
    text-align: left;
  }
}

.description__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  transition: opacity 0.2s ease-out;
  display: none;
}

body {
  // background-color: $colour-background;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}