body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.error{ color: red; }



.navbar {
	color: white;
}

.navbar h1 {
	padding-left: 10px;
	margin-left: 10px;
	float: left;
}

.navbar .logo {
	float: left;
	margin: 5px 10px 5px 25px;
	height: 80px;
	width: 60px;
}

/*.search-bar {
	margin: 20px;
	text-align: left;
}

.vidSearchLbl {
	padding-right: 10px;
	font-family: sans-serif;
	color: orange;
	font-size: 20px;
}

.search-bar input {
	width: 25%;
}

.video-item img {
	width: 500px;
	height: 500px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 2px solid orange;
	border-radius: 4px;
}*/



/*Demo 3 - Reusable Button*/
.reusable-btn {
  width: 400px;
  height: 400px;
}